@using Web_projekat.Models.User;

@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,800' rel='stylesheet'>

</head>
<body>
    <div class="header">
        <div class="innerheader">
            <div class="logo_container">
                <h1>@Html.ActionLink("MySite", "Index", "Home", null, new { @style = "color:#F5DEB3;" })</h1>
            </div>

            <ul class="navigation">
                <li>@Html.ActionLink("Users", "AdminViewUsers", "UserOperations", null, new { @class = "klasa" })</li>
                <li>@Html.ActionLink("Inactive Apartments", "AdminInactiveApartments", "Apartment")</li>
                <li><a>@Html.ActionLink("Amenities", "AdminChangeAmenities", "Apartment")</a></li>
                <li><a>@Html.ActionLink("Log Out", "Logout", "UserOperations")</a></li>

            </ul>
        </div>
    </div>
    <div class="bg-image"></div>


    <div class="container body-content">
        <h1 class="name">
            Registered Users
        </h1>
        <br />

        <style>
            input, select {
                display: block;
                padding: 0;
                margin: 0;
                border: 0;
                width: 100%;
                text-align: center;
                background: transparent;
                font-size: 15px;
                font-family: 'Montserrat';
            }

            select, .rButton {
                pointer-events: all;
            }

            .rButton {
                display: table-cell;
                padding: 0px 12px;
                border: 1px solid #999999;
            }

            
        </style>

</div>
    <style>
        body, html {
            height: 100%;
            width: 100%;
            margin: 0;
            font-family: 'Montserrat';
        }

        .bg-image {
            background-image: url(../Content/1200x-1.jpg);
            background-size: 100%;
            /* The image used */
            /* Add the blur effect */
            filter: blur(5px);
            /* Full height */
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .navigation li:last-child {
            padding-right: 0;
        }


        .navigation li a {
            display: table-cell;
            vertical-align: middle;
            height: 100%;
            transition: 0.3s;
            color: wheat;
            font-size: 16px;
        }

        .navigation li {
            height: 100%;
            display: table;
            float: left;
            padding: 0px 20px;
        }

            .navigation li .klasa {
                font-size: x-large;
                color: red;
            }

            .navigation li a:hover {
                font-size: x-large;
                color: red;
                
            }

        .navigation {
            float: right;
            height: 100%;
        }


        .innerheader {
            width: 70%;
            height: 100%;
            display: block;
            margin: 0 auto;
            background: rgb(16,16,16);
            background: linear-gradient(90deg, rgba(16,16,16,1) 14%, rgba(40,36,110,1) 50%, rgba(16,16,16,1) 82%);
        }

        .header {
            width: 100%;
            height: 80px;
            display: block;
            background-color: #101010;
        }

        * {
            margin: 0;
            padding: 0;
            list-style: none;
            text-decoration: none;
        }

        .logo_container {
            height: 100%;
            display: table;
            float: left;
        }

            .logo_container h1 {
                color: wheat;
                height: 100%;
                display: table-cell;
                vertical-align: middle;
                font-size: 32px;
            }
    </style>
    <div class="table" id="results">
        <div class='theader'>
            <div class='table_header'>Name</div>
            <div class='table_header'>Surname</div>
            <div class='table_header'>Username</div>
            <div class='table_header'>Password</div>
            <div class='table_header'>Email</div>
            <div class='table_header'>Gender</div>
            <div class='table_header'>Role</div>
        </div>
        @foreach (User u in ViewBag.registrovani)
        {
        <form method="post" action="~/UserOperations/AdminChangeRole" class="table_row">

            <div class='table_small'>
                <div class='table_cell'>Name</div>
                <div class="table_cell"><input type="text" readonly value="@u.name" /></div>
            </div>
            <div class='table_small'>
                <div class='table_cell'>Surname</div>
                <div class="table_cell"><input type="text" readonly value="@u.surname" /></div>
            </div>
            <div class='table_small'>
                <div class='table_cell'>Username</div>
                <div class="table_cell"><input type="text"name="username" readonly value="@u.username" /></div>
            </div>
            <div class='table_small'>
                <div class='table_cell'>Password</div>
                <div class="table_cell"><input type="text" readonly value="@u.password" /></div>
            </div>
            <div class='table_small'>
                <div class='table_cell'>Email</div>
                <div class="table_cell"><input type="text" readonly value="@u.email" /></div>
            </div>
            <div class='table_small'>
                <div class='table_cell'>Gender</div>
                <div class="table_cell"><input type="text" readonly value="@u.sex" /></div>
            </div>
            <div class='table_small'>
                <div class='table_cell'>      Role </div>
                <div class="table_cell">
                    <select style="height:100%; width:80px" id="role" name="role">
                        @if (u.role == Role.Guest)
                        {
                            <option selected value="Guest">Guest</option>
                            <option value="Host">Host</option>
                        }
                        else if (u.role == Role.Host)
                        {
                            <option value="Guest">Guest</option>
                            <option selected value="Host">Host</option>
                        }
                    </select>
                </div>
            </div>
            <div class="rButton">
                <input class="button" type="submit" style="height:100%;width:100%;" value="Change" />
            </div>
        </form>
        }
        </div>
        <style>
            .name {
                text-align: left;
                font-size: 43px;
                font-weight: 400;
                position: absolute;
                top: 15%;
                left: 15%;
                right: 15%;
                margin: 0 auto;
                z-index: 2;
            }
            

            .table {
                display: table;
                text-align: center;
                width: 70%;
                margin: 10% auto 0;
                border-collapse: separate;
                font-weight: 400;
                position: absolute;
                top: 25%;
                left: 15%;
                right:15%;
                margin: 0 auto;
                z-index: 2;
            }

            

            .table_row {
                display: table-row;
                width: 100%;
            }

            .theader {
                display: table-row;
                background: rgb(16,16,16);
                background: linear-gradient(90deg, rgba(16,16,16,1) 14%, rgba(40,36,110,1) 50%, rgba(16,16,16,1) 82%);
            }

            .table_header {
                display: table-cell;
                border-bottom: #ccc 1px solid;
                border-top: #ccc 1px solid;
                color: wheat;
                padding-top: 10px;
                padding-bottom: 10px;
                font-weight: 700;
            }

                .table_header:first-child {
                    border-left: #ccc 1px solid;
                    border-top-left-radius: 5px;
                }

                .table_header:last-child {
                    border-right: #ccc 1px solid;
                    border-top-right-radius: 5px;
                }

            .table_small {
                display: table-cell;
            }

            .table_row > .table_small > .table_cell:nth-child(odd) {
                display: none;
                background: #bdbdbd;
                color: #e5e5e5;
                padding-top: 10px;
                padding-bottom: 10px;
            }


            .table_row > .table_small > .table_cell {
                padding-top: 3px;
                padding-bottom: 3px;
                color: #5b5b5b;
                border-bottom: #ccc 1px solid;
            }

            .table_row > .table_small:first-child > .table_cell {
                border-left: #ccc 1px solid;
            }

            .table_row > .table_small:last-child > .table_cell {
                border-right: #ccc 1px solid;
            }

            .table_row:last-child > .table_small:last-child > .table_cell:last-child {
                border-bottom-right-radius: 5px;
            }

            .table_row:last-child > .table_small:first-child > .table_cell:last-child {
                border-bottom-left-radius: 5px;
            }

            .table_row:nth-child(2n+3) {
                background: white;
                background: rgba(255, 249, 192, 0.7);
            }
            .table_row:nth-child(2n+2) {
                background: wheat;
                background: rgba(255, 249, 192, 0.7);
            }

            @@media screen and (max-width: 900px) {
                .table {
                    width: 90%
                }
            }

            @@media screen and (max-width: 650px) {
                .table {
                    display: block;
                }

                .table_row:nth-child(2n+3) {
                    background: none;
                }

                .theader {
                    display: none;
                }

                .table_row > .table_small > .table_cell:nth-child(odd) {
                    display: table-cell;
                    width: 50%;
                }

                .table_cell {
                    display: table-cell;
                    width: 50%;
                }

                .table_row {
                    display: table;
                    width: 100%;
                    border-collapse: separate;
                    padding-bottom: 20px;
                    margin: 5% auto 0;
                    text-align: center;
                }

                .table_small {
                    display: table-row;
                }

                .table_row > .table_small:first-child > .table_cell:last-child {
                    border-left: none;
                }

                .table_row > .table_small > .table_cell:first-child {
                    border-left: #ccc 1px solid;
                }

                .table_row > .table_small:first-child > .table_cell:first-child {
                    border-top-left-radius: 5px;
                    border-top: #ccc 1px solid;
                }

                .table_row > .table_small:first-child > .table_cell:last-child {
                    border-top-right-radius: 5px;
                    border-top: #ccc 1px solid;
                }

                .table_row > .table_small:last-child > .table_cell:first-child {
                    border-right: none;
                }

                .table_row > .table_small > .table_cell:last-child {
                    border-right: #ccc 1px solid;
                }

                .table_row > .table_small:last-child > .table_cell:first-child {
                    border-bottom-left-radius: 5px;
                }

                .table_row > .table_small:last-child > .table_cell:last-child {
                    border-bottom-right-radius: 5px;
                }
            }
        </style>

</body>
</html>
