@using Web_projekat.Models.User;



<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body onload="loadImage()">
    
    <h1>
        Registered Users
    </h1>
    <br />

    <style>
        .rTable {
            display: table;
            width: 100%;
        }

        .rTableRow {
            display: table-row;
        }

        .rTableHeading {
            display: table-header-group;
            background-color: #ddd;
        }

        .rTableCell, .rTableHead {
            display: table-cell;
            padding: 3px 10px;
            border: 1px solid #999999;
            min-width: 150px;
            max-width: 150px;
        }

        .rTableHeading {
            display: table-header-group;
            background-color: #ddd;
            font-weight: bold;
        }

        .rTableFoot {
            display: table-footer-group;
            font-weight: bold;
            background-color: #ddd;
        }

        .rTableBody {
            display: table-row-group;
        }

        .rButton {
            display: table-cell;
            border: 1px solid #999999;
            min-width: 150px;
            max-width: 150px;
        }
        .TableHead {
            float: left;
            display: block;
            min-width: 150px;
            font-size: large;
        }
    </style>
    <div class="rTable">
        <div class="rTableRow">
            <div class="TableHead"><span style="font-weight: bold;">Name</span></div>
            <div class="TableHead"><span style="font-weight: bold;">Surname</span></div>
            <div class="TableHead"><span style="font-weight: bold;">Username</span></div>
            <div class="TableHead"><span style="font-weight: bold;">Password</span></div>
            <div class="TableHead"><span style="font-weight: bold;">Email</span></div>
            <div class="TableHead"><span style="font-weight: bold;">Sex</span></div>
            <div class="TableHead"><span style="font-weight: bold;">Role</span></div>
        </div>
        @foreach (User u in ViewBag.registrovani)
        {

        <div class="rTableRow">
            <form method="post" action="~/UserOperations/AdminChangeRole">
                <div contenteditable class="rTableCell"> <input type="text" style="width:100%;height:100%;border:none" value="@u.name" /></div>
                <div contenteditable class="rTableCell">@u.surname</div>
                <div contenteditable class="rTableCell"> <input type="text" style="width:100%;height:100%;border:none" name="username" value="@u.username" /></div>
                <div contenteditable class="rTableCell">@u.password</div>
                <div contenteditable class="rTableCell">@u.email</div>
                <div contenteditable class="rTableCell">@u.sex</div>
                <div class="rButton">
                    <select style="height:100%; width:100%" id="role" name="role">
                        @if (u.role == Role.Guest)
                        {
                            <option selected value="Guest">Guest</option>
                            <option value="Host">Host</option>
                        }
                        else if (u.role == Role.Host)
                        {
                            <option value="Guest">Guest</option>
                            <option selected value="Host">Host</option>
                        }
                    </select>
                </div>
                <div class="rButton">
                    <input class="button" type="submit" style="height:100%;width:100%;" value="Change" />
                </div>
                </form>
        </div>
        }
    </div>
</body>
</html>   